/* =============================================================================
 * 管理系で使う
 * ========================================================================== */

/* ブロック管理用
------------------------------------------------------------------------------*/
.blocks-model-index{
    
    
    /* パネル */
    .gnwn_listPanel{
        
        /* リスト */
        li{
            .thumb1{
                max-width: 90%;
            }
            .name{
                text-align: center;
                font-weight: bold;
            }
            .detail{
                
            }
            img {
                max-width: 100%;
            }
        }
    }
    
    
}