@charset "UTF-8";
/* =============================================================================
 * 管理系で使う
 * ========================================================================== */
/* ブロック管理用
------------------------------------------------------------------------------*/
.blocks-model-index {
  /* パネル */ }
  .blocks-model-index .gnwn_listPanel {
    /* リスト */ }
    .blocks-model-index .gnwn_listPanel li .thumb1 {
      max-width: 90%; }
    .blocks-model-index .gnwn_listPanel li .name {
      text-align: center;
      font-weight: bold; }
    .blocks-model-index .gnwn_listPanel li img {
      max-width: 100%; }

/*# sourceMappingURL=admin.css.map */
