@charset "UTF-8";
/* =============================================================================
 * 拡張分
 * ========================================================================== */
/* 便利系
-----------------------------*/
.w10 {
  width: 10%; }

.margin10 {
  margin-bottom: 1.0em; }

.margin08 {
  margin-bottom: 0.8em; }

/* リストパネル
-----------------------------*/
.gnwn_listPanel {
  padding: 0;
  list-style: none; }
  .gnwn_listPanel li {
    border: 1px solid #cccccc;
    padding: 0.4em;
    margin-bottom: 1.5em;
    margin-right: 0.5em;
    float: left; }
    .gnwn_listPanel li:nth-child(9n+1) {
      clear: both; }

/*# sourceMappingURL=ext.css.map */
