@charset "utf-8";

body{
	background: url(../img/bg_blue.jpg) repeat-x 0 0 #fff;
	line-height: 1.8;
}

div#wrapper{
	margin: 0 auto;
	text-align: left;
	width: 100%;
}

div#wrapBg{
	border-top: 1px solid #A6D6EE;
}

div#header{
	width: 960px;
	margin: 0 auto;
	text-align: left;
	margin-top: 8px;
}

	div#header h1{
		font-size: 20px;
		float: left;
		width: 300px;
		color: #fff;
		letter-spacing: 0.05em;
		padding: 26px 0 0 18px;
}
div#header ul#gNavi{
	float: right;
	margin-bottom: 0;
	padding-bottom: 0;
}
ul#gNavi li{
	display: block;
	float: right;
	border-left: 1px solid #A6D6EE;
}
ul#gNavi li.firstItem{
	border-right: 1px solid #A6D6EE;
}
ul#gNavi li img{
	vertical-align: bottom;
}

ul#gNavi li.lastItem{
	margin-left: 0;
}
div#header ul#gNavi li a{
	font-size: 13px;
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 30px 15px;
}

div#header ul#gNavi li a:hover{
	background: #A1CEE8;	
}
div#footer{
	text-align: center;
	padding-bottom: 15px;
}

div#footer p#copyright{
	text-align: center;
	padding: 10px;
	color: #333;
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif!important;
}
