/* =============================================================================
 * Ginowan Admin CMS
 * ========================================================================== */
/* clearfix
-------------------*/
.clearfix {
  display: inline-block; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden; }

/* area Add
------------------*/
.__gnwn_area_add {
  border: dashed 1px #33cc00;
  padding: 0.4em;
  font-size: 0.9em;
  text-align: center;
  /* width
  ------------------*/
  /* float
  ------------------*/ }
  .__gnwn_area_add a {
    display: block;
    width: 100%;
    color: #33cc00; }
    .__gnwn_area_add a:hover {
      color: #33cc00;
      background-color: #e5fde3; }
  .__gnwn_area_add .width50 {
    width: 50%; }
  .__gnwn_area_add .width30 {
    width: 30%; }
  .__gnwn_area_add .left {
    float: left; }
  .__gnwn_area_add .right {
    float: right; }

/* adminPanel
------------------------*/
.__gnwn_admin_panel_always {
  font-size: 0.85em; }
  .__gnwn_admin_panel_always .ui-dialog-title {
    height: 15px; }
  .__gnwn_admin_panel_always .ui-dialog-buttonset .ui-button-text {
    font-size: 0.8em;
    height: 10px; }
  .__gnwn_admin_panel_always .resultOK {
    font-size: 1.8em;
    text-align: center; }

#__gnwn_admin_panel_always ul li {
  display: block;
  width: 100%; }
  #__gnwn_admin_panel_always ul li a {
    padding: 0.4em;
    display: block;
    width: 100%; }
    #__gnwn_admin_panel_always ul li a:hover {
      background-color: #e5fde3; }

/*# sourceMappingURL=ginowan.css.map */
