/* =============================================================================
 * Ginowan Admin CMS
 * ========================================================================== */

/* clearfix
-------------------*/
.clearfix{
    display: inline-block;
    &:after{
        content: "."; 
        display: block; 
        height: 0; 
        font-size:0;	
        clear: both; 
        visibility:hidden;
    }
} 

/* area Add
------------------*/
.__gnwn_area_add{
    border: dashed 1px #33cc00;
    padding: 0.4em;
    font-size: 0.9em;
    text-align: center;
    a{
        display: block;
        width: 100%;
        color: #33cc00;
        &:hover{
            color: #33cc00;
            background-color: #e5fde3
        }
    }
    
    /* width
    ------------------*/
    .width50{
        width: 50%;
    }
    .width30{
        width: 30%;
    }
    
    /* float
    ------------------*/
    .left{
        float: left;
    }
    .right{
        float: right;
    }
    
}

/* adminPanel
------------------------*/
.__gnwn_admin_panel_always{
    
    font-size: 0.85em;
    
    .ui-dialog-title{
        height: 15px;
    }
    
    .ui-dialog-buttonset{
        .ui-button-text{
            font-size: 0.8em;
            height: 10px;
        }
    }
    
    .resultOK {
        font-size: 1.8em;
        text-align: center;
    }
    
}
#__gnwn_admin_panel_always{
    ul{
        li{
            display: block;
            width: 100%;
            a{
                padding: 0.4em;
                display: block;
                width: 100%;
                &:hover{
                    background-color: #e5fde3
                }
            }
        }
    }
}
