@charset "utf-8";

div#mainImgBox{
	margin: 0 auto;
	text-align: left;
	width: 960px;
	background: url(../../index/img/mainimg.jpg) no-repeat top right;
	min-height:381px;
	height: auto !important;
	height: 381px;
	border: 1px solid #dedede;
	border-bottom: none;
}

div#mainImgBox div#mainMessageBox{
	width: 277px;
	min-height:381px;
	height: auto !important;
	height: 381px;
	background: #fff;
}

	div#mainImgBox div#mainMessageBox strong{
		font-weight: bold;
		font-size: 17px;
		display: block;
		padding: 90px 20px 10px;
	}
	div#mainImgBox div#mainMessageBox span{
		padding: 0 20px;
		display: block;
		line-height: 1.9;
		color: #666;
	}

div#mainContents{
	width: 900px;
	padding: 45px 30px 45px;
	margin: 0 auto 20px;
	text-align: left;
	background: #fff;
	border: 1px solid #dedede;
}

div#mainContents h2{
	background: url(../../share/img/bg_ch.gif) repeat-x 0 0;
	font-size: 14px;
	letter-spacing: 0.08em;
	margin-bottom: 15px;

	min-height:45px;
	height: auto !important;
	height: 45px;

}

div#mainContents h2 span{
	background: url(../../share/img/bg_ch_top.gif) no-repeat top left;
	padding: 6px 0 6px 22px;
	display: block;
	font-weight: bold;
	-moz-box-shadow:0 0 0.5px #ccc;
	-webkit-box-shadow:0 0 0.5px #ccc;

	text-shadow:1px 0 0.5px #fff;

}

div#mainContents strong{
	display: block;
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 14px;
}

div#conceptBox{
	width: 600px;
	float: left;
}

div#topicsBox{
	float: left;
	margin-top: 45px;
	width: 600px;
}

div#topicsBox{
	float: left;
}

	div#topicsBox strong{
		font-weight: bold;
		font-size: 13px;
		margin-bottom: 8px;
		display: block;
		font-size: 14px;
	}

	div#topicsBox dl{
		width: 600px;
	}

	div#topicsBox dl dt,
	div#topicsBox dl dd{
		padding: 12px 0 6px;
		border-bottom: 1px solid #ddd;
	}

	div#topicsBox dl dt{
		float:left;
		width:70px;
		clear:both;
		background: url(../img/bg_boder.gif) repeat 0 0 ;
	}

	div#topicsBox dl dd{
		width:505px;
		margin-left:70px;
		padding-left: 20px;
	}

div#outlineBox{
	width: 270px;
	float: right;
}

div#outlineBox dl{}
div#outlineBox dl dt{
	font-weight: bold;
	margin-bottom: 6px;
	font-size: 14px;
}
div#outlineBox dl dd{
	margin-bottom: 12px;
}
